/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "variable"
@import "framwork/header"
@import "framwork/footer"
@import "discussion/discussion-groups"
@import "discussion/information"

*
  margin: 0px
  padding: 0px
#section
  width: $width
  padding:
    top: 65px
    bottom: 100px

h2
  font:
    size: 13px
    weight: normal
  color: black
  padding: $h_padding

.hr
  height: 1px
  width: auto
  background-color: #cfcfcf

#markhot
  background-color: rgb(255,0,110)
  padding: 1px 2px
  margin: 2px 3px
  color: $white
  font:
    weight: normal
    size: 7px

#h2-more
  float: right
  letter-spacing: 1px


#talkAbout
  position: relative
  margin: 0px
  padding: 0px
  color: black
  background-color: rgb(244,244,244)

h3
  font:
    size: 13px
    weight: normal
  color: black
  padding: $h_padding


#footer
  & ul
    list-style: none
    clear: both
    padding: 0px
    margin-top: -4px
    font-size: 16px