/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "variable"
@import "framwork/header"
@import "framwork/footer"
@import "discussion/discussion-groups"
@import "discussion/information"

*
  margin: 0
  padding: 0
#section
  width: $width
  padding:
    top: 65px
    bottom: 100px

h2
  font:
    size: 12px
    weight: normal
  color: rgb(84,84,84)
  padding: $h_padding

.hr
  height: 1px
  width: auto
  background-color: #cfcfcf

#mark-hot
  background-color: rgb(255,0,110)
  padding: 1px 2px
  margin: 3px 4px
  color: $white
  border-radius: 2px
  font:
    weight: normal
    size: 8px

#h2-more
  float: right
  letter-spacing: 1px
  color: rgb(158,158,158)
  font-size: 12px

#talk-about
  margin: 0
  padding: 0
  color: black
  background-color: rgb(244,244,244)

h3
  font:
    size: 12px
    weight: normal
  color: rgb(131,131,131)
  padding: $h_padding


#footer
  & ul
    list-style: none
    clear: both
    padding: 0
    margin-top: -4px
    font-size: 16px