@import "variable"
@import "framwork/header"
@import "framwork/footer"
@import "index/show"
@import "index/discovery"

body
  padding: 0px
  margin: 0px
  width: $width
#bars
  float: right
  margin:
    right: $right
    top: -20px

#navigation
  width: $width
  padding: 65px 0px 0px

#slider
  background-color: white
  margin: auto
  width: 320px
  height: 122px

#nav
  margin: auto
  width: 320px
  height: 97px
  background-color: white
  text-align: center
  & a
    display: inline-block
    text-align: center
    line-height: 30px
    padding: 13px 16px 13px 0px
  & button
    border-radius: 100px
    width: 47px
    height: 47px
    font-size: 22px
    border: none
    outline: none
    color: #ffffff
    & label
      font-size: 12px
#chat_button
  background-color: $chat_color
#question_button
  background-color: $queston_color
#diary_button
  background-color: $diary_color
#expert_button
  background-color: $expert_color



#section
  padding-bottom: 500px
  background-color: rgb(232,232,232)


#discovery-h
  margin: auto
  padding: 0px
  width: 320px
  & h2
    margin: 0px
    padding: 12px 17px 0px
    font-size: 14px
    font-weight: normal
    color: rgb(179,179,179)


#footer
  & ul
    list-style: none
    clear: both
    padding: 0px
    margin-top: -4px
    font-size: 16px