#commentary
  & .user-info
    width: $width
    height: 35px
    & .head-sculpture
      position: relative
      top: 13px
    & .nickname
      position: relative
      top: -43px
    & .user-addr
      position: relative
      top: -40px
    & .floor
      position: relative
      top: -59px
  & .comment
    margin: 28px 0px 0px 50px
    line-height: 22px
    font-size: 16px
  & .comment-img
    margin-top: 15px
    text-align: center

  & .user-info-host
    height: auto
    & .floor
      position: relative
      top: -88px
    & .user-addr
      position: relative
      top: -67.5px
  & .host-comment
    @extend .comment
    margin-top: -70px