#commentary
  & .user-info
    margin-top: 13px
    width: $width
    height: 35px
    & .portrait
      margin-top: 20px
  & .comment
    margin: 16px 23px 0px 50px
    line-height: 20px
    font-size: 16px
  & .comment-img
    text-align: center