@import "variable"
#reply
  width: auto
  background-color: #E9EBEA
  margin: 17px 15px 0px 50px
  padding: 12px 12px 23px
  & .nickname
    font-size: 13px
    color: rgb(0,51,102)
    position: relative
    top: 0px
    left: 0px
  & .role
    position: relative
    top: 0px
    left: 0px
  & .reply-content
    font-size: 12px
    color: rgb(68,68,68)
  & .re-date
    font-size: 9px
    color: $floor_color
  & .hr
    width: auto
    height: 1px
    margin: 11px 0px
    color: #C0C4BF
  & #other-reply
    & p
      margin: 0px
      padding: 0px
      color: rgb(0,51,102)
      float: right
      font-size: 13px