.reply-choice
  color: $floor_color
  font-size: 9px
  padding: 2px 15px 0 50px
  & .re-choice
    float: right
    margin-top: -15px
    & .praise-choose
      background-color: rgb(255,209,147)
      padding: 7px 17px
      font-size: 12px
      border-radius: 50px
      color: #ffffff
      margin-right: 9px
      margin-top: -20px
      & i
        margin-right: 7px
    & .comment-choose
      background-color: rgb(255,168,185)
      padding: 7px 17px
      border-radius: 50px
      font-size: 12px
      color: #ffffff
      margin-right: 7px
      margin-top: -20px
      & i
        margin-right: 7px
    & .delete
      color: $header-color
      font-size: 12px
      margin-top: -14px
  & .re-date
    width: 100px
    margin: 20px 0 0
    color: $floor_color
    font-size: 9px