#discussion-groups
  padding: 13px 15px
  background-color: #fff
  & table
    margin: auto
    & tr
      margin: 0
      padding: 0
.r-col-odd
  padding: 0 8px 20px 0
.r-col-even
  padding: 0 31px 20px 0
.col-even
  padding-right: 31px
.r-col-even-four
  padding: 0 0 20px 0
#discussion-groups table tr td img
  width: 45px
  height: 45px
  border-radius: 100px

.group-name
  font-size: 14px
  color: black

.number
  font-size: 10px
  color: rgb(73,73,73)
  margin-top: 6px

#row-three
  padding-bottom: 0