@import "variable"
#footer
  height: 30px
  width: $width
  position: fixed
  bottom: 0px
  padding: 9px 0px
  background-color: white
  border: 1px solid rgb(207,207,207)
  text-align: center
  clear: both
ul
  list-style: none
  clear: both
li
  display: inline-block
  height: 40px
  margin-right: 20px
label
  font-size: 10px
  color: $footer_color
#home,#discussIcon,#microPlastic,#msg,#me
  font-size: 20px
  border: none
  outline: none
  background-color: white
  color: $footer_color

a
  text-underline: none
a:link
  color: $header-color
  text-underline: none
a:visited
  color: $header-color
  text-underline: none
a:active
  color: $header-color
  text-underline: none