@import "variable"

#footer
  height: 35px
  width: 298px
  position: fixed
  z-index: 4
  bottom: 0px
  margin-top: -35px
  padding: 9px 10px
  background-color: white
  border: 1px solid rgb(207,207,207)
  text-align: center
#footer ul
  list-style: none
  clear: both
#footer ul li
  display: inline-block
  height: 30px
  margin-right: 20px
#footer ul li label
  font-size: 10px
  color: $footer_color
#home,#discussIcon,#microPlastic,#msg,#me
  font-size: 20px
  border: none
  outline: none
  background-color: white
  color: $footer_color

a
  text-underline: none
a:link
  color: $header-color
  text-underline: none
a:visited
  color: $header-color
  text-underline: none
a:active
  color: $header-color
  text-underline: none