@import "variable"

#header
  background-color: $header-color
  margin: 0px
  padding: 0px
  color: #ffffff
  position: fixed
  width: $width
  height: 65px
  z-index: 4

h1
  margin: 30px 0px 0px
  text-align: center
  font:
    weight: normal
    size: $header-font-size

button
  background-color: $header-color
  color: $white
  font-size: $header-font-size
  border: none
  outline: none
#bars
  float: left
  margin-left: $left
#edit
  float: right
  margin-right: $right