@import "variable"
#header
  background-color: $header-color
  margin: 0px
  padding: 0px
  color: #ffffff
  position: fixed
  width: $width
  height: 65px
  z-index: 110
h1
  margin: 30px 0px 0px
  text-align: center
  font:
    weight: normal
    size: $header-font-size
  & img
    height: 20px
    width: 41px

button
  background-color: $header-color
  color: $white
  font-size: $header-font-size
  border: none
  outline: none
#bars
  float: left
  margin-left: $left
  font-size: $header-font-size
  margin-top: -22px
#edit
  float: right
  margin-right: $right
  font-size: $header-font-size
  margin-top: -22px