.mark-good
  width: 34px
  height: 15px
  font-size: 11px
  color: #ffffff
  text-align: right
  padding: 5px
  position: relative
  top: -114px
  float: right
  border-radius: 500px 30px 30px 500px
[name="marrow"]
  background-color: $header-color
[name="recommendation"]
  background-color: $chat_color
[name="none"]
  opacity: 0
.portrait
  position: relative
  left: 5px
  top: -37px
  height: 37px
  width: 110px
  & img
    width: 32px
    height: 32px
    border: 2px solid #ffffff
    border-radius: 100px
  & span
    width: 63px
    font-size: 11px
    color: rgb(252,150,187)
    position: relative
    top: -10px
#show
  margin: 0px
  padding: 12px 10px 0px
  & div
    margin: auto
    height: 169px
    width: 300px
    background-color: #ffffff
    margin-bottom: 12px
    border-radius: $div_img_border_radius
  & p
    display: inline-block
    font-size: 14px
    position: relative
    top: -45px
    left: 8px

[name="showImg"]
  width: 300px
  height: 123px